<ul>
    <li><a href="{% url 'zap:index' %}">Index</a></li>
    {% if request.user.is_authenticated %}
        <li><a href="{% url 'zap:user_profile' %}">Your profile ({{ request.user.email }})</a></li>
        <li><a href="{% url 'zap:user_logout' %}">Log out</a></li>
    {% else %}
        <li><a href="{% url 'zap:user_login' %}">Log in</a></li>
        <li><a href="{% url 'zap:user_register' %}">Register</a></li>
    {% endif %}
    <li><a href="{% url 'zap:message_index' %}">Messages</a></li>
    <li><a href="{% url 'zap:message_create' %}">Create a message</a></li>
</ul>