{% extends 'layout.html' %}
{% block title %}Create a message{% endblock %}

{% block content %}
    <form method="post" action="{% url 'zap:message_create' %}">
        {% csrf_token %}
        <div>{{ form.text.label_tag }}</div>
        <div>{{ form.text }}</div>
        <div>{{ form.text.errors }}</div>
        <div><input type="submit" value="Submit" /></div>
    </form>
{% endblock %}