{% extends 'layout.html' %}
{% block title %}Log out{% endblock %}

{% block content %}
    <p>Your email is <b>{{ request.user.email }}</b></p>
    <p>Provide the data below to Zapier!</p>
    <p>
        <b>ID</b>: {{ request.user.pk }} <br>
        <b>API key</b>: {{ request.user.api_key }}
    </p>
{% endblock %}