{% extends 'layout.html' %}
{% block title %}Register{% endblock %}

{% block content %}
    {% if form.errors %}
        <p>Check the errors below, please.</p>
    {% endif %}

    <form method="post" action="{% url 'zap:user_register' %}">
        {% csrf_token %}
        <table>
        <tr>
            <td>{{ form.email.label_tag }}</td>
            <td>{{ form.email }}</td>
            <td>{{ form.email.errors }}</td>
        </tr>
        <tr>
            <td>{{ form.password1.label_tag }}</td>
            <td>{{ form.password1 }}</td>
            <td>{{ form.password1.errors }}</td>
        </tr>
        <tr>
            <td>{{ form.password2.label_tag }}</td>
            <td>{{ form.password2 }}</td>
            <td>{{ form.password2.errors }}</td>
        </tr>
        </table>

        <input type="submit" value="Register" />
    </form>
{% endblock %}